<app-documento-cobrar-listado></app-documento-cobrar-listado>
<ngx-spinner
  [fullScreen]="true"
  type="ball-pulse-sync"
  size="medium"
  bdColor="rgba(49, 146, 225, 0.95)"
  color="#FFFFFF"
>
  <p
    style="
      font-size: 20px;
      color: white;
      position: absolute;
      top: -155px;
      left: -50px;
    "
  >
    <b>PHOENIX</b>
  </p>
</ngx-spinner>
