<div>
  <div class="p-grid" style="padding: 3% 20% 1% 20%; text-align: center">
    <div class="p-col-12 p-md-12 p-lg-12">
      <img
        src="./../../../../assets/icons/procesos/{{ icon }}"
        id="icon"
        alt="Logo"
      />
    </div>
    <div class="p-col-12 p-md-12 p-lg-12" style="text-align: center">
      <label style="font-size: 1.6em; color: #0f558c"
        ><b>{{ mensaje }}</b></label
      >
    </div>
  </div>
</div>
