<p-panel header="Criterios de Busqueda">
  <div class="container">
    <div class="p-grid">
      <div class="p-col">
        <div class="p-fluid">
          <div class="p-field p-grid">
            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Compañía:</label>
            <div class="p-col-12 p-md-10">
              <p-dropdown [options]="formulario.compania"></p-dropdown>
            </div>
          </div>
          <div class="p-field p-grid">
            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Cliente</label>
            <div class="p-col-12 p-md-10">
              <p-dropdown [options]="formulario.cliente"></p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="p-col">
        <div class="p-fluid">
          <div class="p-field p-grid">
            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0"
              >Fecha de inicio:</label
            >
            <div class="p-col-12 p-md-10">
              <p-calendar [(ngModel)]="formulario.fecha_inicio"></p-calendar>
            </div>
          </div>

          <div class="p-field p-grid">
            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Origen</label>
            <div class="p-col-12 p-md-10">
              <p-dropdown [options]="formulario.origen"></p-dropdown>
            </div>
          </div>
        </div>
      </div>

      <div class="p-col">
        <div class="p-fluid">
          <div class="p-field p-grid">
            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Fecha Final</label>
            <div class="p-col-12 p-md-10">
              <p-calendar [(ngModel)]="formulario.fecha_final"></p-calendar>
            </div>
          </div>
          <div class="p-field p-grid">
            <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Tipo</label>
            <div class="p-col-12 p-md-10">
              <p-dropdown [options]="formulario.tipo"></p-dropdown>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="p-grid">
      <div class="p-col right-buttons">
        <button
          pButton
          label="Nuevo Documento"
          class="ui primary p-mr-2 p-button-sm"
        ></button>
        <button
          pButton
          label="Buscar"
          class="p-mr-2 p-button-sm p-button-success"
        ></button>
        <button
          pButton
          label="Cancelar"
          class="p-mr-2 p-button-sm p-button-danger"
        ></button>
      </div>
    </div>
  </div>
</p-panel>
<div class="p-mt-5"></div>
<p-panel header="Listado de Busqueda">
  <p-table [value]="items">
    <ng-template pTemplate="header">
      <tr>
        <th>Compañia</th>
        <th>Cliente</th>
        <th>Origen</th>
        <th>Tipo</th>
        <th>N° Documento</th>
        <th>Fecha Documento</th>
        <th>Fecha Contable</th>
        <th>Modeda</th>
        <th>Monto</th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{ item.compania }}</td>
        <td>{{ item.cliente }}</td>
        <td>{{ item.origen }}</td>
        <td>{{ item.tipo }}</td>
        <td>{{ item.n_documento }}</td>
        <td>{{ item.fecha_documento }}</td>
        <td>{{ item.fecha_contable }}</td>
        <td>{{ item.moneda }}</td>
        <td>{{ item.monto }}</td>
        <td><button>-></button></td>
      </tr>
    </ng-template>
  </p-table>
</p-panel>
